<div
  class="group hover:h-24 hover:cursor-pointer bg-gray-light hover:bg-gray-extralight flex gap-2 text-xs font-light"
  tabindex="0"
  role="button"
  [attr.aria-label]="'View details for ' + mangaTitle"
  (click)="onItemSelected()"
  (keydown.enter)="onItemSelected()"
>
  <div class="relative w-20">
    <img
      class="object-cover"
      [ngSrc]="imageUrl"
      [alt]="mangaTitle"
      fill="true"
      loading="lazy"
    />
  </div>
  <div class="text-white basis-full w-20">
    <div class="group-hover:whitespace-normal truncate max-h-12">
      <h3 class="font-bold text-xs inline">{{ mangaTitle }}</h3>
      <span class="hidden ml-px group-hover:inline text-xs font-normal">{{
        mangaType
      }}</span>
    </div>

    <div class="group-hover:hidden">
      <span
        >({{ mangaType }}, {{ manga.published.from | utcDate : "yyyy" }})</span
      >
    </div>

    <dl class="hidden group-hover:block">
      <div class="flex">
        <dt>Aired:&nbsp;</dt>
        <dd>
          {{ manga.published.from | utcDate }}
          {{ manga.published.to ? "to " + (manga.published.to | utcDate) : "" }}
        </dd>
      </div>
      <div class="flex">
        <dt>Score:&nbsp;</dt>
        <dd>{{ manga.score }}</dd>
      </div>
      <div class="flex">
        <dt>Status:&nbsp;</dt>
        <dd>{{ manga.status }}</dd>
      </div>
    </dl>
  </div>
</div>
