<footer class="w-full">
  <div class="flex justify-center py-3 gap-8 bg-gray-default">
    <app-top-links-ranking
      title="Top Anime"
      [items]="topAnimes"
    ></app-top-links-ranking>
    <app-top-links-ranking
      title="Top Airing Anime"
      [items]="topAiringAnimes"
    ></app-top-links-ranking>
    <app-top-links-ranking
      title="Most Popular Characters"
      [items]="topCharacters"
    ></app-top-links-ranking>
  </div>
  <section>
    <app-about-us></app-about-us>
  </section>
</footer>
