<nav class="hidden md:flex justify-between bg-blue-dark">
  <ul class="flex z-10 bg-inherit w-full">
    @for (linkGroup of linkGroupsList; track $index) {
    <li>
      <app-dropdown-link [linkGroup]="linkGroup"></app-dropdown-link>
    </li>
    }
  </ul>
  <app-search-bar
    class="bg-inherit"
    (onFormSubmit)="onFormSubmit()"
    [searchForm]="searchForm"
    [isSearching]="isSearching"
    [animesDataList]="animesDataList"
    [mangasDataList]="mangasDataList"
    [charactersDataList]="charactersDataList"
    [clubsDataList]="clubsDataList"
    [peoplesDataList]="peoplesDataList"
    [usersDataList]="usersDataList"
  ></app-search-bar>
</nav>
