<div>
  <section aria-labelledby="post-showcase-heading">
    <header
      class="text-white border-b-2 border-gray-extralight flex justify-between items-center"
    >
      <h3 id="post-showcase-heading" class="text-sm font-semibold">
        MALxJapan -More than just anime-
      </h3>
      <a
        href="#"
        class="text-xs text-blue-extralight hover:underline underline-offset-1"
        >Visit MALxJapan</a
      >
    </header>
    <div role="list" class="flex gap-0.5 mt-1.5">
      <article class="post-card max-w-60" role="listitem">
        <a
          href="#"
          class="group hover:opacity-80 focus:outline-blue-light focus:opacity-80 duration-100"
          aria-labelledby="caption-1"
        >
          <figure class="w-60 group">
            <img
              ngSrc="https://cdn.myanimelist.net/resources/mxj_panel/2025/20250211013509_20250211_MxJ_MALTOP_writing_contest.png"
              alt="Writing contest promotional banner showing anime characters with notebooks"
              width="235"
              height="146"
              priority
            />

            <figcaption
              id="caption-1"
              class="text-blue-extralight mt-1.5 group-hover:underline group-focus:underline underline-offset-1 text-xs font-semibold"
            >
              Win 3,000 USD for your story ✍️
            </figcaption>
          </figure>
        </a>
      </article>
      <article class="post-card max-w-60" role="listitem">
        <a
          href="#"
          class="group hover:opacity-80 duration-100"
          aria-labelledby="caption-2"
        >
          <figure class="w-60 group">
            <img
              ngSrc="https://cdn.myanimelist.net/resources/mxj_panel/2025/20250304005724_MxJ_HomeFeed_AnimeID_20250304.jpg"
              alt="Writing Competition post"
              width="235"
              height="146"
              priority
            />
            <figcaption
              class="text-blue-extralight mt-1.5 group-hover:underline underline-offset-1 text-xs font-semibold"
            >
              VOTE NOW! ~Anime ID Meets WIT Studio~
            </figcaption>
          </figure>
        </a>
      </article>
      <article class="post-card max-w-60" role="listitem">
        <a
          href="#"
          class="group hover:opacity-80 duration-100"
          aria-labelledby="caption-3"
        >
          <figure class="w-60 group">
            <img
              ngSrc="https://cdn.myanimelist.net/resources/mxj_panel/2025/20250131024356_2024MalYaerBook_mxj_banner_result.png"
              alt="MAL Yearbook post"
              width="235"
              height="146"
              priority
            />
            <figcaption
              class="text-blue-extralight mt-1.5 group-hover:underline underline-offset-1 text-xs font-semibold"
            >
              The results are in! Take a look through MAL's official 2024 anime
              yearbook
            </figcaption>
          </figure>
        </a>
      </article>
    </div>
  </section>
</div>
