<header
  class="text-white flex flex-row justify-between items-center bg-blue-300"
>
  <div class="flex basis-2/4 justify-between">
    <a href="" class="font-bold text-3xl">MyAnimeList</a>
    <img
      src="https://myanimelist.net/c/img/resources/mb/mini_banner_20250211_writing_contest.png"
      alt=""
      class="max-h-9"
    />
  </div>

  <div>
    <a href="" class="text-blue-300 font-semibold">Hide Ads</a>
    <button class="bg-gray-600 px-5 ml-8">Login</button>
    <button class="bg-blue-600 px-5 ml-2">Sign Up</button>
  </div>
</header>
