<header
  class="flex w-full max-w-6xl text-white flex-row justify-between items-center px-1 sm:px-2 lg:px-0"
>
  <div class="flex lg:basis-7/12 justify-between items-center">
    <a href="" class="font-bold text-3xl hidden md:block">MyAnimeList</a>
    <a href="" class="font-bold text-2xl sm:text-3xl md:hidden">MAL</a>
    <a href="" class="hidden lg:block">
      <img
        ngSrc="https://myanimelist.net/c/img/resources/mb/mini_banner_20250211_writing_contest.png"
        alt="MyAnimeList Writing Contest Announcement"
        height="36"
        width="250"
        loading="lazy"
        class="py-1.5 hover:opacity-80 duration-300"
      />
    </a>
  </div>

  <div class="flex items-center">
    <a
      href=""
      class="text-blue-extralight hover:opacity-80 text-xs sm:text-sm font-medium md:font-bold"
      >Hide Ads</a
    >
    <app-login-button></app-login-button>
    <app-sign-up-button></app-sign-up-button>
    <button class="md:hidden" aria-label="Search" (click)="toggleSearchBar()">
      <fa-icon [icon]="searchIcon" class="text-xl ml-3"></fa-icon>
    </button>
    <button
      class="md:hidden"
      aria-label="Open Menu"
      (click)="toggleDropdownLinks()"
    >
      <fa-icon [icon]="hamburgerMenuIcon" class="text-2xl ml-3"></fa-icon>
    </button>
  </div>
</header>
