<div class="h-full bg-inherit">
  <div
    role="dialog"
    aria-modal="true"
    aria-label="Search results overlay"
    (click)="closeSearchBar()"
    [class]="isSearchBarOpen ? 'block' : 'hidden'"
    class="h-screen w-screen inset-0 z-20 fixed bg-neutral-800 opacity-25"
    tabindex="-1"
  >
    <!-- Trap focus inside modal when open -->
    <span class="sr-only"
      >You are now in a search overlay. Press Escape to close.</span
    >
  </div>
  <section
    class="h-full w-full md:block relative z-30 bg-inherit pr-1.5 lg:pr-2.5"
  >
    <div class="h-full pl-2 w-full flex items-center">
      <form
        class="flex w-full py-1 md:py-0"
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit()"
      >
        <label for="search-bar-select-input" class="sr-only"
          >Select Category</label
        >
        <select
          id="search-bar-select-input"
          class="bg-gray-dark text-white rounded-s h-8 md:h-6 text-xs px-1 w-20"
          aria-label="Select Category"
          formControlName="category"
        >
          @for (category of categoryTypeArray; track $index) {
          <option [value]="category.code">
            {{ category.description }}
          </option>
          }
        </select>
        <div class="relative flex flex-1 items-center">
          <label for="search-bar-text-input" class="sr-only">Search</label>
          <input
            #searchTextInput
            id="search-bar-text-input "
            class="bg-gray-dark flex-1 h-8 md:h-6 text-white text-xs w-52 lg:w-72 ml-0.5 px-1.5"
            type="text"
            autocomplete="off"
            (focus)="onSearchTextInputFocus()"
            (blur)="onSearchTextInputBlur()"
            placeholder="Search Anime, Manga, and more..."
            formControlName="text"
            aria-label="Search Anime, Manga, and more"
          />
          @if (searchForm.valid) {
          <button
            class="absolute right-1 top-1/2 transform -translate-y-1/2"
            (click)="clearSearch()"
            type="button"
            aria-label="Clear search"
          >
            <fa-icon class="text-blue-light" [icon]="closeIcon"></fa-icon>
          </button>
          }
        </div>
        <button
          class="flex items-center h-8 md:h-6 justify-center bg-gray-light px-2 md:px-1.5 rounded-e text-white disabled:text-gray-extralight"
          aria-label="Search"
          type="submit"
          [disabled]="!searchForm.valid"
        >
          <fa-icon [icon]="searchIcon" class="text-inherit text-sm"></fa-icon>
        </button>
      </form>
    </div>
    @if(isSearchBarOpen && searchedText || isSearching) {
    <div
      class="absolute w-full z-0 overflow-y-auto md:overflow-visible pb-24 md:pb-0 h-screen md:h-auto"
    >
      <app-search-results
        [searchedText]="searchedText"
        [isSearching]="isSearching"
        [animesDataList]="animesDataList"
        [mangasDataList]="mangasDataList"
        [charactersDataList]="charactersDataList"
        [clubsDataList]="clubsDataList"
        [peoplesDataList]="peoplesDataList"
        [usersDataList]="usersDataList"
      ></app-search-results>
    </div>
    }
  </section>
</div>
