<div
  class="flex justify-center items-center py-4 bg-gray-light text-white w-full"
>
  <div class="w-[1060px]">
    <div class="flex justify-between pb-3">
      <p class="text-sm font-thin text-neutral-200">
        <strong class="text-white font-bold"
          >It’s time to ditch the text file.</strong
        >
        <br />
        Keep track of your anime easily by creating your own list.
      </p>
      <div>
        <app-login-button></app-login-button>
        <app-sign-up-button></app-sign-up-button>
      </div>
    </div>
    <hr
      class="h-px border-0 bg-gradient-to-r from-gray-light via-gray-extralight to-gray-light"
    />
    <div class="py-7">
      <app-social-media-links></app-social-media-links>
    </div>
    <hr
      class="h-px border-0 bg-gradient-to-r from-gray-light via-gray-extralight to-gray-light"
    />
    <div class="py-5">
      <app-navigation-links></app-navigation-links>
    </div>
    <div class="text-xs font-medium text-neutral-400">
      <p class="text-center">
        <strong>MyAnimeList-Clone</strong> is not affiliated with, endorsed by,
        or connected to MyAnimeList.net. It was created for educational purposes
        only
      </p>
    </div>
  </div>
</div>
