<div
  class="relative h-auto block"
  (mouseenter)="openDropdown()"
  (mouseleave)="closeDropdown()"
>
  <button
    class="text-white hover:cursor-default px-1.5 lg:px-2.5 py-1 font-medium"
    [class]="isOpen ? 'bg-gray-extralight' : ''"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ linkGroup.title }}
  </button>
  @if (isOpen) {
  <ul
    class="absolute flex flex-col text-nowrap bg-gray-extralight text-white font-normal text-sm"
  >
    @for (link of linkGroup.linksList; track $index) {
    <li
      class="hover:bg-slate-200 hover:cursor-pointer hover:text-black px-2.5 py-2"
    >
      <a href="{{ link.path }}">{{ link.title }}</a>
    </li>
    }
  </ul>
  }
</div>
