<section class="media-carousel" role="region" aria-roledescription="carousel">
  <header
    class="flex justify-between items-center border-b-2 border-gray-extralight mb-1"
  >
    <h2 id="carousel-{{ title }}" class="text-sm font-semibold text-white">
      {{ title }}
    </h2>
    <a
      [href]="viewMoreLink"
      class="text-xs text-blue-extralight hover:underline underline-offset-1"
    >
      View more
    </a>
  </header>

  <div class="relative">
    <button
      (click)="prev()"
      class="absolute p-4 left-0 top-1/2 -translate-y-1/2 z-10 bg-gray-dark bg-opacity-90 hover:bg-opacity-90 rounded-r focus:outline-none focus:ring-2 focus:ring-blue-light"
      aria-label="Previous items"
    >
      <fa-icon class="text-white text-lg" [icon]="leftArrowIcon"></fa-icon>
    </button>
    <div class="overflow-hidden">
      <ul #carouselTrack class="flex gap-2 w-full">
        @for(item of items; track trackById) { @defer(when
        shouldLoadItem($index)) {
        <ng-container
          *ngTemplateOutlet="
            cardTemplate;
            context: {
              $implicit: item,
              tabindex: $index < itemsToShow ? 0 : -1
            }
          "
        >
        </ng-container>
        } @placeholder {
        <ng-container
          *ngTemplateOutlet="
            cardTemplate;
            context: {
              tabindex: -1
            }
          "
        ></ng-container>
        } }@empty { @for(item of emptyArray; track $index) {
        <ng-container
          *ngTemplateOutlet="
            cardTemplate;
            context: {
              tabindex: -1
            }
          "
        >
        </ng-container>
        } }
      </ul>
    </div>
    <button
      (click)="next()"
      class="absolute p-4 right-0 top-1/2 -translate-y-1/2 z-10 bg-gray-dark bg-opacity-90 hover:bg-opacity-95 rounded-l focus:outline-none focus:ring-2 focus:ring-blue-light"
      aria-label="Next items"
    >
      <fa-icon class="text-white text-lg" [icon]="rightArrowIcon"></fa-icon>
    </button>
  </div>
</section>
