<section
  class="media-carousel mb-8"
  role="region"
  aria-roledescription="carousel"
>
  <header
    class="flex justify-between items-center border-b-2 border-gray-extralight mb-4"
  >
    <h2 id="carousel-{{ title }}" class="text-sm font-semibold text-white">
      {{ title }}
    </h2>
    <a
      [href]="viewAllLink"
      class="text-xs text-blue-extralight hover:underline underline-offset-1"
    >
      View All
    </a>
  </header>

  <div class="relative">
    <button
      (click)="prev()"
      class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-gray-dark bg-opacity-80 hover:bg-opacity-90 text-white p-2 rounded-r focus:outline-none focus:ring-2 focus:ring-blue-light"
      aria-label="Previous items"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <div class="overflow-hidden">
      <ul #carouselTrack class="flex gap-2 w-full">
        @if(items.length <= 0) { @for(item of emptyArray; track $index) {
        <li
          tabindex="-1"
          class="relative flex-shrink-0 w-[110px] h-[150px] bg-gray-700 animate-pulse"
          [style.width]="width"
          [style.height]="height"
        >
          <span class="sr-only">Loading item...</span>
        </li>
        } } @for(item of items; track trackById) { @defer(when
        shouldLoadItem($index)) {
        <li
          class="flex-shrink-0 focus-within:opacity-65 hover:opacity-65 transition-opacity duration-500"
          [style.width]="width"
          [style.height]="height"
        >
          <a
            class="w-full h-full"
            [tabindex]="$index < itemsToShow ? 0 : -1"
            [href]="item.url || '#'"
          >
            <figure
              class="relative w-full h-full flex items-end justify-center"
            >
              <img
                [src]="item.images.webp.image_url"
                [alt]="item.title"
                loading="lazy"
                fill
                class="absolute"
                [style.min-width]="width"
                [style.min-height]="height"
              />
              <figcaption
                class="w-full z-10 p-2 pt-6 text-white bg-gradient-to-t from-gray-default to-transparent font-medium text-xs leading-tight"
              >
                {{ item.title }}
              </figcaption>
            </figure>
          </a>
        </li>
        } @placeholder {
        <li
          tabindex="-1"
          class="relative flex-shrink-0 w-[110px] h-[150px] bg-gray-700 animate-pulse"
        >
          <span class="sr-only">Loading item...</span>
        </li>
        } }
      </ul>
    </div>
    <button
      (click)="next()"
      class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-gray-dark bg-opacity-80 hover:bg-opacity-95 text-white p-2 rounded-l focus:outline-none focus:ring-2 focus:ring-blue-light"
      aria-label="Next items"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</section>
