<div>
  <section
    class="relative h-auto block bg-transparent"
    (mouseenter)="isDesktopView && openDropdown()"
    (mouseleave)="isDesktopView && closeDropdown()"
    (click)="!isDesktopView && toggleDropdown()"
  >
    <button
      class="text-white text-start w-full md:w-auto hover:cursor-pointer md:hover:cursor-default hover:bg-blue-default md:hover:bg-gray-extralight px-1.5 lg:px-2.5 py-1 font-medium"
      type="button"
      [class]="[
        isOpen && isDesktopView ? 'bg-gray-extralight' : '',
        isOpen && !isDesktopView ? 'bg-blue-default' : ''
      ]"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ linkGroup.title }}
    </button>
    @if (isOpen) {
    <ul
      class="md:absolute flex flex-col text-nowrap bg-gray-extralight text-white font-normal text-sm"
    >
      @for (link of linkGroup.linksList; track $index) {
      <li
        class="hover:bg-slate-200 hover:cursor-pointer hover:text-black px-2.5 py-2"
      >
        <a href="{{ link.path }}">{{ link.title }}</a>
      </li>
      }
    </ul>
    }
  </section>
</div>
