<nav>
  <ul class="flex mb-3 text-white text-xs justify-center gap-5">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Press Room</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Cookie</a></li>
    <li><a href="#">Notice at Collection</a></li>
    <li><a href="#">Sitemap</a></li>
  </ul>
  <ul class="flex text-neutral-300 text-xs justify-center gap-6">
    <span class="text-neutral-400">Recommended</span>
    <li><a href="#">Tokyo Otaku Mode</a></li>
    <li><a href="#">Honeyfeed</a></li>
    <li><a href="#">Manga Store</a></li>
  </ul>
</nav>
