<div
  class="group max-h-24 hover:h-24 min-h-11 pb-1 hover:cursor-pointer bg-gray-light hover:bg-gray-extralight flex gap-2 text-xs font-light"
  tabindex="0"
  role="button"
  attr.aria-label="'View details for ' + {{ item.username || 'Unknown' }}"
  (click)="onItemSelected()"
  (keydown.enter)="onItemSelected()"
>
  <div class="relative w-20">
    <img
      class="object-cover"
      [ngSrc]="item.images.webp.image_url || defaultImageUrl"
      [alt]="item.username || 'Unknown'"
      fill="true"
      loading="lazy"
    />
  </div>
  <div class="text-white basis-full w-20">
    <div class="group-hover:whitespace-normal truncate max-h-12">
      <h3 class="font-bold text-xs inline">
        {{ item.username || "N/A" }}
      </h3>
    </div>
  </div>
</div>
