/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  background-color: #121212;
}

body {
  max-width: 1060px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
